<header class="main-header clearfix">
  <div class="header-bar">    
  </div>
  <div class="nav-bar sticky-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <figure class="logo">
            <%= image_tag(image_path("logo.png")) %>
          </figure>
        </div>
        <div class="col-md-10">
          <nav class="main-nav clearfix">
            <ul class="clean-list to-right">
              <li class="current-menu-item">
                <%= link_to t(".home"), root_path  %>
              </li>
              <li>
                <a href="features.html">Features</a>
                <ul>
                  <li><a href="feature-grid.html">Grid</a></li>
                  <li><a href="feature-typo.html">Typography</a></li>
                  <li><a href="feature-buttons.html">Buttons</a></li>
                </ul>
              </li>
              <li>
                <a href="portfolio.html">Works</a>
                <ul>
                  <li><a href="portfolio-grid.html">Portfolio Gallery</a></li>
                  <li><a href="portfolio-grid-two.html">Portfolio Grid</a></li>
                  <li><a href="portfolio-single.html">Single Portfolio</a></li>
                </ul>
              </li>
              <li>
                <%= link_to t(".users"), users_path %>
              </li>
              <li>
                <% if  logged_in? %>
                  <%= link_to t(".user"), current_user %>
                  <ul>
                    <li><%= link_to t(".edit"), edit_user_path(current_user) %></li>
                    <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
                  </ul>
                <% else %>
                  <%= link_to t(".login"), login_path %>
                <% end %>
              </li>
              <li><%= link_to t(".help"), help_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
